@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 2px;
}

#heading{
    display: flex;
    align-items: center;
    margin-top: 3%;
    justify-content: center;
    gap: 5%;
}

.btn--how-to-play{
    width: 15%;
    height: 5%;
    padding: 1%;
    color: green;
    font-family: inherit;
    border: 3px solid green;
    font-size: 120%;
    cursor: pointer;
}

#title{
    color: green;
    font-size: 220%;
    text-shadow: 2px 2px 2px #1EB045;
}

#game-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 86vh;
}

.player--area{
    width: 45vw;
    height: 70vh;
    border: 3px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#player0-area{
    margin-right: 0.05%;
}

#player1-area{
    margin-left: 1%;

}

.player-name{
    margin-top: 10%;
    font-size: 240%;
    color: green;
    margin-bottom: 10%;
}

.scr{
    color: white;
    font-size: 400%;
}

.won{
    font-size: 180%;
    color: green;
    margin-bottom: 5%;
    
}

.current-section{
    margin-bottom: 10%;
    font-size: 160%;
    border: 2px solid green;
    border-radius: 5px;
    padding: 5%;
    color: green;
}

.current-points{
    color: white;
    font-size: 160%;
}

p {
    text-align: center;
    margin-top: 10%;
}

.btn{
    color: green;
    border: 3px solid green;
    background-color: aliceblue;
    width: 11vw;
    height: 6vh;
    font-size: 110%;
    padding: 5%;
    font-family: inherit;
    cursor: pointer;
}

.btn--new-game{

}

#navigation{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    position: absolute;
}

.dice{
    width: 120px;
    height: 120px;
    background-color: green;
    z-index: 10;
    border: 2px solid white;
    border-radius: 5px;
}

#modal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: green;
    width: 100vw;
    height: 99vh;
    z-index: 100;
    font-size: 180%;
    position: absolute;
    letter-spacing: 3px;
    line-height: 1.5;
    border: 3px solid green;
    top: 0;
    gap: 10%;
}

#modal p{
    padding:0% 2% 0% 2%;
}

.btn-modal{
    width: 10%;
    height: 6%;
    font-family: inherit;
    color: green;
    border: 3px solid green;
    border-radius: 5px;
    cursor: pointer;
}

.hidden{
    display: none;
}

.hide-visibility{
    visibility: hidden;
}

.active-player{
    box-shadow: 11px 10px 22px -4px rgba(68,242,9,1);
    transition: 0.5s;
}