@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 2px;
}

#heading{
    width: 96vw;
    display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: center;
    gap: 5%;
}

.btn--how-to-play{
    width: 15%;
    height: 5%;
    padding: 1%;
    color: green;
    font-family: inherit;
    border: 3px solid green;
    font-size: 120%;
    cursor: pointer;
}

.btn--how-to-play:hover{
    color: aliceblue;
    background-color: green;
    border: 3px solid aliceblue;
}

#title{
    color: green;
    font-size: 200%;
    text-shadow: 2px 2px 2px #1EB045;
}

#game-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 86vh;
}

.player--area{
    width: 40vw;
    height: 75vh;
    border: 3px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#player0-area{
    margin-right: 0.05%;
}

#player1-area{
    margin-left: 1%;
}

.player-name{
    margin-top: 10%;
    font-size: 240%;
    color: green;
    margin-bottom: 8%;
}

.scr{
    color: white;
    font-size: 400%;
}

.won{
    font-size: 180%;
    color: green;
    margin-bottom: 3%;
    
}

.current-section{
    margin-bottom: 10%;
    font-size: 160%;
    border: 2px solid green;
    border-radius: 5px;
    padding: 5%;
    color: green;
}

.current-points{
    color: white;
    font-size: 160%;
}

p {
    text-align: center;
    margin-top: 10%;
}

.btn{
    color: green;
    border: 3px solid green;
    background-color: aliceblue;
    width: 12vw;
    height: 6vh;
    font-size: 100%;
    padding: 3%;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover{
    color: aliceblue;
    background-color: green;
    border: 3px solid aliceblue;
}

#navigation{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    min-height: 60vh;
    position: absolute;
}

.dice{
    width: 120px;
    height: 120px;
    background-color: green;
    z-index: 10;
    border: 2px solid white;
    border-radius: 5px;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: green;
    width: 100%;
    height: 100%;
    z-index: 100;
    font-size: 80%;
    position: absolute;
    letter-spacing: 3px;
    line-height: 1.5;
    top: 0;
    gap: 5%;
    padding: 3%;
}

#modal p{
    padding: 0% 2% 0% 2%;
}

.btn-modal{
    width: 10%;
    height: 6%;
    font-family: inherit;
    color: green;
    border: 3px solid green;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.modal-content{
    padding: 20px;
    text-align: center;
    margin-top: 10%;

}

input {
    color: black;
    font-size: 90%;
}

.btn-submit{
    min-width: 10%;
    padding: 1.5%;
    font-size: medium;
    border: 3px solid green;
    font-family: inherit;
    color: green;
    margin-top: 5%;
}

.btn-modal:hover, .btn-submit:hover{
    color: aliceblue;
    background-color: green;
    border: 3px solid aliceblue;
}

.hidden{
    display: none;
}

.hide-visibility{
    visibility: hidden;
}

.active-player{
    box-shadow: 11px 10px 22px -4px rgba(68,242,9,1);
    transition: 0.5s;
}

/* Media queries */
@media screen and (max-width: 1150px){

    .btn--how-to-play{
        font-size: 100%;
    }
    
    #title{
        font-size: 180%;
    }
    
    .player--area{
        width: 46vw;
    }

    .player-name{
        font-size: 200%;
    }
    
    .scr{
        font-size: 380%;
    }
    
    .won{
        font-size: 160%;
    }
    
    .current-section{
        font-size: 150%;
    }
    
    .current-points{
        font-size: 150%;
    }
    
    .btn{
        width: 12vw;
        font-size: 90%;
        padding: 3%;
    }
    
    .dice{
        width: 110px;
        height: 110px;
    }

    #modal{
        font-size: 100%;
    }
} 

@media screen and (max-width: 920px) {
    #heading{
        width: 85vw;
        margin-bottom: 0.2%;
        gap: 2.5%;
        margin-left: 5%;
    }
    
    .btn--how-to-play{
        font-size: 70%;
    }
    
    #title{
        font-size: 120%;
    }

    #game-area{
        flex-direction: column;
        height: 92vh;
        gap: 2%;
    }

    .player--area{
        width: 70vw;
        height: 60vh;
    }

    #player0-area{
        margin-right: 0;
    }
    
    #player1-area{
        margin-left: 0%;
    }

    #navigation{
        flex-direction: row;
        width: 60vw;
        gap: 7%;
        min-height: fit-content;
    }

    .player-name{
        margin-top: 18%;
        font-size: 170%;
        margin-bottom: 1%;
    }
    
    .scr{
        font-size: 220%;
    }
    
    .won{
        font-size: 90%;
        margin-bottom: 0%;
        margin-top: 1%;
    }

    .current-section{
        margin-bottom: 15%;
        font-size: 110%;
        padding: 2.5%;
    }
    
    .current-points{
        font-size: 130%;
    }
    
    p {
        margin-top: 5%;
        font-size: 200%;
    }
    
    .btn{
        width: 12vw;
        height: 6vh;
        font-size: 80%;
        padding: 1%;
        line-height: 1.2;
    }

    .dice{
        width: 80px;
        height: 80px;
    }

    #modal{
        font-size: 70%;
        letter-spacing: 1.5px;
        line-height: 1.3;
        gap: 2%;
    }

    .btn-modal{
        width: 30%;
        height: 9%;
        font-size: 120%;   
    }
}

@media screen and (max-width: 700px) {

    #title {
        font-size: 100%;
    }
    p {
        font-size: 120%;
    }

    .btn--how-to-play{
        font-size: 60%;
    }

    .player-name{
        font-size: 150%;
    }

    .scr{
        font-size: 190%;
    }

    .current-section{
        font-size: 90%;
    }
    
    .current-points{
        font-size: 110%;
    }

    .btn{
        font-size: 60%;
    }

    .dice{
        width: 60px;
        height: 60px;
    }

    .player--area{
        width: 60vw;
        height: 40vh;
    }

}

@media screen and (max-width: 420px) {
    
    .btn--how-to-play{
        font-size: 40%;
    }
    
    #title{
        font-size: 70%;
    }

    .btn{
        width: 20vw;
        height: 6vh;
        font-size: 40%;
        padding: 1%;
    }

    #navigation{
        width: 60vw;
        gap: 4%;
        min-height: fit-content;
    }

    .dice{
        width: 50px;
        height: 50px;
    }

    p {
        font-size: 100%;
    }

    .player--area {
        width: 85vw;
    }
}

@media screen and (max-height: 600px) {
    #heading{
        display: flex;
        margin-top: 2%;
        gap: 3%;
    }
    
    .btn--how-to-play{
        width: 15%;
        height: 5%;
        font-size: 60%;
        margin-bottom: 2%;
    }
    
    #title{
        font-size: 110%;
        margin-bottom: 5%;
    }
    
    #game-area{
        display: flex;
        flex-direction: row;
        height: 88vh;
    }
    
    .player--area{
        width: 40vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
    }

    .player-name{
        margin-top: 10%;
        font-size: 140%;
        margin-bottom: 6%;
    }
    
    .scr{
        font-size: 270%;
    }
    
    .won{
        font-size: 120%;
        margin-bottom: 2%;
        
    }
    
    .current-section{
        margin-bottom: 8%;
        font-size: 105%;
        padding: 5%;
    }
    
    .current-points{
        font-size: 105%;
    }
    
    .btn{
        height: 8vh;
        font-size: 65%;
        padding: 1.5%;
    }
    
    #navigation{
        display: flex;
        flex-direction: column;
        position: absolute;
        min-height: 70vh;
        max-width: fit-content;
    }
    
    .dice{
        width: 100px;
        height: 100px;
    }
    
    #modal{
        font-size: 70%;
    }
       
    .btn-modal{
        width: 15%;
        height: 10%;
        font-size: 80%;
    }

    p{
        font-size: 90%;
    }
}

@media screen and (max-height: 480px){
    
    .btn--how-to-play{
        font-size: 60%;
    }
    
    #title{
        font-size: 120%;
    }
    
    #game-area{
        height: 70vh;
    }

    .player-name{
        margin-top: 6%;
        font-size: 125%;
        margin-bottom: 4%;
    }
    
    .scr{
        font-size: 220%;
    }
    
    .won{
        font-size: 100%;
        margin-bottom: 1%;
        
    }
    
    .current-section{
        margin-bottom: 5%;
        font-size: 95%;
        padding: 4%;
    }

    .current{
        font-size: 90%;
        margin-bottom: 10%;
    }
    
    .current-points{
        font-size: 95%;
    }
    
    .btn{
        width: 13vw;
        height: 10vh;
        font-size: 60%;
        padding: 2%;
    }

    .dice{
        width: 90px;
        height: 90px;
    }
    
    #modal{
        font-size: 60%;
    }
       
    .btn-modal{
        width: 15%;
        height: 10%;
    }

    #navigation{
        max-width: fit-content;
        min-height: 70vh;
    }
}

@media screen and (max-height: 300px){
    .player-name{
        font-size: 105%;
    }
    
    .scr{
        font-size: 180%;
    }
    
    .won{
        font-size: 80%; 
    }
    
    .current-section{
        font-size: 75%;
    }
    
    .btn{
        width: 13vw;
        height: 10vh;
        font-size: 45%;
        padding: 1%;
    }

    .dice{
        width: 70px;
        height: 70px;
    }
}

@media only screen and (max-width: 320px) and (min-height: 480px) {
   
    #game-area{
        flex-direction: column;
        width: 100%;
        height: 85vh;
        margin-top: 5vh;
    }

   #navigation{
        flex-direction: row;
        gap: 10%;
    }

   .player--area{
        width: 90%;
        height: 50%;
    }

    .player-name{
        font-size: 100%;
    }

    .scr{
        font-size: 100%;
    }
    .won{
        font-size: 70%;
        margin-bottom: 0;
    }

    .current-section{
        margin-bottom: 8%;
    }

   #heading{
        font-size: 60%;
        width: 90vw;
        margin-bottom: 3%;
        gap: 2.5%;
        margin-left: 5%;
    }

    .btn--how-to-play, .btn{
        font-size: 10%;
        height: 6vh;
        width: 15vw;
        margin-bottom: 2%;
    }

    .dice{
        width: 35px;
        height: 35px;
    }

    p {
        font-size: 80%;
    }

    .btn-modal {
        font-size: 80%;
    }
}