@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Press Start 2P', sans-serif;
}

#game-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.player--area{
    width: 45vw;
    height: 70vh;
    border: 3px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#player0-area{
    margin-right: 0.05%;
}

#player1-area{
    /* margin-left: -18%; */

}

.player-name{
    margin-top: 15%;
    font-size: 240%;
    color: green;
}

.scr{
    color: white;
    font-size: 300%;
    margin-bottom: 10%;
}

.won{
    font-size: 160%;
    color: green;
    position: absolute;
    margin-top: 16%;
}

.current-section{
    margin-bottom: 10%;
    font-size: 160%;
    border: 2px solid green;
    border-radius: 5px;
    padding: 5%;
    color: green;
}

.current-points{
    color: white;
    font-size: 160%;
}

p {
    text-align: center;
    margin-top: 10%;
}

.btn{
    color: green;
    background-color: aliceblue;
    width: 120%;
    height: 8%;
    font-size: 110%;
    padding: 5%;
    font-family: inherit;
    cursor: pointer;
}

.btn--new-game{

}

#navigation{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    position: absolute;
}

.dice{
    width: 120px;
    height: 120px;
    background-color: green;
    z-index: 10;
    border: 2px solid white;
    border-radius: 5px;
}

.hidden{
    display: none;
}